# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Debug file
/debug
Buckland_Chapter7 to 10_Raven/Release
# Common File
/Common

*.vcxproj
Buckland_Chapter7 to 10_Raven/.vs
Buckland_Chapter7 to 10_Raven/Raven.vcxproj
Buckland_Chapter7 to 10_Raven/Debug
